body {
	margin: 0;
	font-family: arial, sans-serif;
	display: flex;
 background color: #1e202c;
}

.sidebar {
	width: 220px;
	background-color: #60519b;
	color: white;
	height: 100vh;
	padding: 20px;
	box-sizing: border-box;
	position: fixed;
	left: 0;
	top: 0;
}

.sidebar h2 {
	margin-top: 0;
}

.sidebar a {
	color: white;
	text-decoration: none;
	display: block;
	margin: 10px 0;
}

.sidebar a:hover {
	background-color: #444;
	padding-left: 10px;
	transition: 0.2s;
}

.main {
	margin-left: 240px;
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
}

.gallery img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	margin: 10px;
	cursor: pointer;
}

.loginform {
 background color: #60519b;
 width: 300px;
 margin: 0 auto;
 padding: 20px;
 border: 1px solid #ccc;
 border-radius: 5px;
}
